.form__container {
  max-width: 500px;

  .form__button-section {
    margin-top: 15px;
  }
  .form__success-container {
    .form__success-msg {
      color: var(--color-success);
      font-size: 0.9rem;
      margin-bottom: 10px;
      text-align: center;
    }
    .form__button-group {
      display: flex;
      gap: 15px;
      input[type='submit'] {
        width: 60%;
      }
      a {
        width: 40%;
      }
    }
  }
}

.form__input-container {
  position: relative;
  padding: 0;
  border: none;
  margin: 24px 0 4px;
  min-width: 0;
  display: block;
  width: 100%;

  label {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 15px) scale(1);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
  }

  .form__input {
    position: relative;
    box-sizing: border-box;
    padding: 6px 0 7px;
    width: 100%;

    input {
      font: inherit;
      width: 100%;
      border: 0;
      height: 1.2em;
      display: block;
      padding: 6px 0 7px;
      box-sizing: content-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      background: #f5f7fa;

      &:focus {
        outline: none;
        border-bottom: 2px solid var(--color-primary);
      }

      &.has-value + label {
        transform: translate(-9px, -5.5px) scale(0.75);
        color: var(--color-primary);
      }

      &:focus + label {
        transform: translate(-9px, -5.5px) scale(0.75);
        color: var(--color-primary);
      }

      &.error {
        border-color: var(--color-error);
      }
    }

    .error-message {
      color: var(--color-error);
      display: none;
      font-size: 0.75rem;
      margin-top: 5px;
    }
  }

  &:hover {
    label {
      color: rgba(0, 0, 0, 0.87);
    }

    .form__input {
      input:not(:focus):not(.error) {
        border-bottom: 2px solid rgba(0, 0, 0, 0.87);
      }
    }
  }

  &.input-group {
    display: flex;
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .form__container {
    max-width: 444px;
  }
}
